.main{
    min-height: 100vh;
    max-width: 100%;
    background-color: #0d1117;
    position: relative;
    

    &::before,&::after{
        content: '';
        position: absolute;
        left: 0;
        
    }

    &::before{
        clip-path: polygon(100% 56%, 0% 100%, 100% 100%);
        background: #00f0ff;
        width: 100%;
        height: 100%;
        
    
    }
}

.main__container{
    display: flex;
    height: 90vh;
    align-items: center;
    gap: 2rem;
    position: relative;
}


.main__content{
    margin-left: 3.455rem;
    z-index: 10;
}

.text{
    line-height: 55px;

    p{
        color: #ffffff;
        text-transform: uppercase;
        font-size: 22px;
    }

    h1{
        font-size: 50px;
        text-transform: uppercase;
        color: #00f0ff;
    }
}

.icons{
    display: flex;
    
    .icon{
        margin-top: 1rem;
        margin-right: 1rem;
        font-size: 70px;
        cursor: pointer;

        &:hover{
            color: #00f0ff;
        }
    }
}

.buttons{

    button{
        padding: 10px  30px;
        margin-top: 2rem;
        margin-right: 0.4rem;
        background: #0d1117;
        cursor: pointer;
        color:  #00f0ff;
        border-radius: 20px;
        border:1px solid #00f0ff;
        text-transform: uppercase;
        font-weight: bolder;
    }
}

.main__img{
 position: absolute;
 bottom: 0;
 right: 0;
 width: 100%;
 height: 100%;
 z-index: 100%;
 pointer-events: none;    

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        mix-blend-mode: screen;
        opacity: 0.75;

        clip-path: polygon(100% 56%, 0% 100%, 100% 100%);


    }
}

@media (max-width:12rem){

    .text{
        line-height: 30px;
        white-space: nowrap;

        p{
            font: size 12px;
        }

        h1{
            font-size: 30px;
        }
    }

    .buttons{
        button{
            padding: 5px 25px;
            font-weight: normal;
        }
    }

    .icons{
        .icon{
            font-size: 2050rem;
        }
    }
}

@media(max-width: 600px){

    .main__content{
        margin-left: 0;
    }

    .main__container{
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .main__img img{
        width: 30px;
    }

    .text{
        h1{
            font-size: 23px;
        }

        p{
            font-size: 11px;
        }
    }

    .icons{
        margin-left: 200rem;
    }
}